RewriteEngine on
#  ~~~ Перенаправляем все запросы на файл - точку входа index.php.
#      Причем, учитывая ЧПУ, добавляем в начале ури - index. ~~~
RewriteRule ^index index.php [L]   # Если ури начинается на "index", весь запрос передаем в файл index.php

# --- Если имя точки входа "index" отсутствует в начале ури, то добавляем
#     его в начало ури и после него вставляем прежний запрос. ---
RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{REQUEST_URI} !(^/index)
RewriteRule (.*) /index/$1 [R]
# ----------------------------------------------------------------
# ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~